F2B412 : Main page bg cover (Blend)

000000 : Text Heading
C4C4C4 : SVG's
FFFFFF : white
213A18 : Text Heading
6C8663 : btn bg
0E537A : Blue Button
F2B412 : Darkest yellow
14494D : Bg vector
EaAC4B : Circle